@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg_primary: @apply bg-indigo-500;
    --facebook: #316ff6;
    --dribbble: #d85888;
    --linkedin: #0a66c2;
    --behance: #053eff;
    --twitter: #1d9bf0;
    --github: #2b3137;
    --whatsapp: #25d366;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  /* position: relative; */
}

.grain {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -10;
  /* display: none; */
  width: 100%;
  height: 100%;
  background-image: url("/assets/grain.gif");
  opacity: 0.04;
}

.dark .grain {
  opacity: 0.045;
}

::selection {
  color: white;
  background: rgb(99, 102, 241, 0.9);
}
::-moz-selection {
  color: white;
  background: rgb(99, 102, 241, 0.9);
}

.lh-120 {
  line-height: 1.2;
}

.title {
  @apply text-9xl uppercase leading-[1.0] font-extrabold;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight;
} */

.h1 {
  @apply text-8xl font-bold text-slate-300 leading-tight;
}

.h2 {
  @apply text-[80px];
}

.h3 {
  @apply text-[3.5rem];
}

/* Responsive Design */
/* sm */
@media (max-width: 640px) {
  .title {
    @apply text-5xl;
  }

  .h1 {
    @apply text-[2.5rem];
  }

  .h2 {
    @apply text-[28px];
  }

  /* h3 {
    @apply text-[28px];
  } */

  .lights-container {
    grid-column-gap: 40px !important;
    grid-row-gap: 40px !important;
  }

  .light-container.left,
  .light-container.center,
  .light-container.right,
  .light-container.last {
    opacity: 0.4 !important;
    filter: blur(20px) !important;
  }
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
}

/* xl */
@media (min-width: 1280px) {
}

/* 2xl */
@media (min-width: 1536px) {
}

/* ============== animate from right ============= */

/* .scroll {
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #fff 20%,
    #fff 80%,
    transparent
  );
} */

.scroll .fromRight {
  animation: rightToLeft var(--time) linear infinite;
  animation-delay: calc(var(--time) * -1);
}

.scroll .fromRight:nth-child(2) {
  animation: rightToLeft2 var(--time) linear infinite;
  animation-delay: calc(var(--time) / -2);
}

@keyframes rightToLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes rightToLeft2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

/* ============== animate from left ============= */
.scroll .fromLeft {
  animation: leftToRight var(--time) linear infinite;
  animation-delay: calc(var(--time) * -1);
}

.scroll .fromLeft:nth-child(2) {
  animation: leftToRight2 var(--time) linear infinite;
  animation-delay: calc(var(--time) / -2);
}

@keyframes leftToRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes leftToRight2 {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* .scroll .fromRight:hover,
.scroll .fromRight:nth-child(2):hover,
.scroll .fromLeft:hover,
.scroll .fromLeft:nth-child(2):hover {
  animation-play-state: paused;
} */

/* .scroll img {
  max-width: 360px;
} */

/* /////////////////////////////// */

.main-lights-wrapper {
  position: absolute;
  inset: 0%;
  overflow: hidden;
  /* z-index: 0; */
  /* background: red; */
}

.lights-container {
  grid-column-gap: 70px;
  grid-row-gap: 70px;
  opacity: 0.41;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: -322px;

  transform: rotate(-30deg);
}

.light-container {
  opacity: 0.47;
  filter: blur(10px);
  background-image: linear-gradient(#fff 5%, #cfcfcf00 60%);
  width: 110px;
  height: 1000px;
}

.light-container.left {
  opacity: 0.25;
  filter: blur(20px);
}

.light-container.center {
  opacity: 0.48;
  filter: blur(40px);
  width: 120px;
  height: 1000px;
}

.light-container.right {
  opacity: 0.47;
  filter: blur(30px);
  width: 130px;
}

.light-container.last {
  opacity: 0.49;
  filter: blur(20px);
  width: 110px;
  height: 1140px;
}
