@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --bg_primary: @apply bg-primary-300;
    --facebook: #316ff6;
    --dribbble: #d85888;
    --linkedin: #0a66c2;
    --behance: #053eff;
    --twitter: #1d9bf0;
    --github: #2b3137;
    --whatsapp: #25d366;
    --primary: #9ae66e;
    --text_color: #19300b;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  /* font-family: BBarlow, Helvetica, sans-serif; */
}

/* p,
a {
  font-family: Barlow, Helvetica, sans-serif;
} */

.grain {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -10;
  width: 100%;
  height: 100%;
  background-image: url("/assets/grain.gif");
  opacity: 0.02;
}

.dark .grain {
  opacity: 0.02;
}

::selection {
  color: var(--text_color);
  background: var(--primary);
}
::-moz-selection {
  color: var(--text_color);
  background: var(--primary);
}

.lh-120 {
  line-height: 1.2;
}

@layer components {
  .title {
    @apply text-9xl uppercase leading-[1.0] font-extrabold;
  }
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight;
} */

.h1 {
  font-size: 6rem; /* equivalent to text-8xl */
  font-weight: 700; /* equivalent to font-bold */
  color: #cbd5e1; /* equivalent to text-slate-300 */
  line-height: 1.25; /* equivalent to leading-tight */
}

.h2 {
  font-size: 80px;
}

.h3 {
  @apply text-[3.5rem];
}

/* Responsive Design */
/* sm */
@media (max-width: 640px) {
  .title {
    @apply text-5xl;
  }

  .h1 {
    @apply text-[2.5rem];
  }

  .h2 {
    @apply text-[28px];
  }

  /* h3 {
    @apply text-[28px];
  } */

  .lights-container {
    grid-column-gap: 40px !important;
    grid-row-gap: 40px !important;
  }

  .light-container.left,
  .light-container.center,
  .light-container.right,
  .light-container.last {
    opacity: 0.4 !important;
    filter: blur(20px) !important;
  }
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
}

/* xl */
@media (min-width: 1280px) {
}

/* 2xl */
@media (min-width: 1536px) {
}

/* ============== animate from right ============= */

/* .scroll {
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #fff 20%,
    #fff 80%,
    transparent
  );
} */

.scroll .fromRight {
  animation: rightToLeft var(--time) linear infinite;
  animation-delay: calc(var(--time) * -1);
}

.scroll .fromRight:nth-child(2) {
  animation: rightToLeft2 var(--time) linear infinite;
  animation-delay: calc(var(--time) / -2);
}

@keyframes rightToLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes rightToLeft2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

/* ============== animate from left ============= */
.scroll .fromLeft {
  animation: leftToRight var(--time) linear infinite;
  animation-delay: calc(var(--time) * -1);
}

.scroll .fromLeft:nth-child(2) {
  animation: leftToRight2 var(--time) linear infinite;
  animation-delay: calc(var(--time) / -2);
}

@keyframes leftToRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes leftToRight2 {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* .scroll .fromRight:hover,
.scroll .fromRight:nth-child(2):hover,
.scroll .fromLeft:hover,
.scroll .fromLeft:nth-child(2):hover {
  animation-play-state: paused;
} */

/* .scroll img {
  max-width: 360px;
} */

/* /////////////////////////////// */

.main-lights-wrapper {
  position: absolute;
  inset: 0%;
  overflow: hidden;
  /* z-index: 0; */
  /* background: red; */
}

.lights-container {
  grid-column-gap: 70px;
  grid-row-gap: 70px;
  opacity: 0.41;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: -322px;

  transform: rotate(-30deg);
}

.light-container {
  opacity: 0.47;
  filter: blur(10px);
  background-image: linear-gradient(#fff 5%, #cfcfcf00 60%);
  width: 110px;
  height: 1000px;
}

.light-container.left {
  opacity: 0.25;
  filter: blur(20px);
}

.light-container.center {
  opacity: 0.48;
  filter: blur(40px);
  width: 120px;
  height: 1000px;
}

.light-container.right {
  opacity: 0.47;
  filter: blur(30px);
  width: 130px;
}

.light-container.last {
  opacity: 0.49;
  filter: blur(20px);
  width: 110px;
  height: 1140px;
}

/* ============== */
.bgGradientBlur {
  /* background-color: red; */
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: blur(75px);
}
/* ============== */

/* .projects_list {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr 3fr;
  gap: 20px;
} */

.horizontalScroll {
  padding: 0 5rem;
}

@media screen and (min-width: 1900px) {
  .horizontalScroll {
    padding-left: 20rem;
  }
}
